[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.11"
django-rest-framework = "*"
mysqlclient = "==2.2.7"
djangorestframework-simplejwt = "==5.5.1"
django-cors-headers = "==4.9.0"
python-dotenv = "==1.2.1"
drf-spectacular = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "==3.16.1"
pyjwt = "==2.11.0"
requests = "==2.32.5"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
