Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg[binary]
PyJWT==2.11.0
python-dotenv==1.2.1
requests==2.32.5
whitenoise
gunicorn
drf-spectacular


